
.input {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 20px;
}

.input__field {
    padding-left: 10px;
}

.input__error {
    font-size: 8px;
}

.necessarily {
    color: red;
}